* {
	margin: 0;
}
body {
	width:100%;
	padding: 25px;
	font-family: Tahoma, Geneva, sans-serif;
}   		
h1 {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 5px;			
}		
h2 {
	color: #aaa;
	font-size: 14px;
	font-weight: 100;			
}
section {
	margin: 10px 0;
	position: relative;
}
canvas {
	margin-top: 10px auto;
	border: 1px solid #ddd;
	border-radius: 5px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}
p {
	color: #bbb;
	font-size: 12px;
}
section > p {
	position: absolute;
	right: 0;
	padding: 2px;
}
section > p:hover {
	text-decoration:underline;
}
aside {
	display: none;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #4b4b4b;
}
aside h2 {
	color: #fff;
	font-size: 24px;
	margin-top: 5px;
	margin-left: 10px;
}
aside ul {
	margin-top: 5px;
	padding-left: 10px;
	list-style: none;
}
aside ul li {
	margin-bottom: 10px;
}
aside h4 {
	color: #eee;
	font-size: 16px;
	font-weight: 100;			
}
aside p {
	padding: 0 5px;
	color: #ddd;
}
aside a {
	color:#79b1ff;
}
aside a:hover{
	text-decoration:underline;
}