body {
  margin-left: 10%;
  margin-right: 10%;
}

.comment {
  color: #75715e;
  font-style: italic;
}

.previous-google-roles {
  font-size: 12px;
}

ul#top-list ul {
  margin-bottom: 10px;
}

#prof-list li {
  margin-bottom: 10px;
}

h2 {
  color: #a6e22e;
}

#current-role {
  color: #e6db74;
}
