/* Mobile Styling */
@media screen and (max-width: 425px) {
  body {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 30px;
  }
}

/* Tablet and Desktop Styling */
@media screen and (min-width: 426px) {
  body {
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 4%;
  }
}

/* Common Styling */
.comment {
  color: #75715e;
  font-style: italic;
}

#current-role {
  color: #e6db74;
}

.previous-google-roles {
  font-size: 12px;
}

ul#top-list ul {
  margin-bottom: 10px;
}

#prof-list li {
  margin-bottom: 10px;
}

h2 {
  color: #a6e22e;
}