a {
  color: #def2f1;
  text-decoration: none;
}

a:visited {
  color: #2b7a78;
}

#content {
  /* display: grid;
  background-color: #3aafa9;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #17252a;
  grid-template-columns: 220px auto;
  grid-template-rows: 220px auto;
  margin-top: 20px; */
}

h1 {
  color: #feffff;
  -webkit-text-stroke: 1px #17252a;
}

#me {
  border-radius: 50%;
  border: 1px solid #17252a;
  width: 200px;
}

ul {
  list-style-type: none;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}
